.signup-page
{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
}
.pswd-inp, .email-inp
{
    margin: 5px;
    border: 2px solid #E76F51;
    padding: 10px;
    transition: box-shadow 0.3s ease, border-color 0.5s ease;
    border-radius: 5px;
}
.pswd-inp:focus, .email-inp:focus
{
    border: 3px solid #556B2F;
    outline: none;
    box-shadow: 0 0 0 1.5px white;
    
}
.sign-up-btn
{
    margin-top: 15px;
    padding: 10px 15px;

    background-color: white;

    border: 2px solid #556B2F;
    border-radius: 10px;

}

