.generate-recipe-main
{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: auto;     
}

.ingredients-list
{
    font-size: 1rem;
}

.get-a-recipe-button
{
    font-size: 1rem;
    text-decoration: none;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E76F51;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.get-a-recipe-button:hover
{
    transform: scale(1.05);
}
.get-a-recipe-button:active
{
    transform: scale(.95);
}

.ingredients-on-hand-container
{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 30px auto auto auto;
    padding: 20px;
}
.ingredients-on-hand-h1
{
    font-size: 1.5rem;
    margin: auto;
}
.ingredientslist-section
{
    width: 100%;
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: column;
}
ol
{

    list-style-type: none;
    padding-inline-start: 0px;
    display: inline-block;
    text-align: center;

}
.specific-ingredient
{
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    border: 2.5px solid #4d8853;
    border-radius: 10px;
    display: inline-block;
    color: black;
    font-weight: 500;
    transition: transform 0.3s ease; 
    
}

.specific-ingredient:hover
{
    transform: translateY(-5px);
}
.specific-ingredient .delete-ingredient-btn
{
    opacity: 0;
    visibility: hidden;
    border-style: none;
    color: red;
    font-size: 1rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
    
}
.specific-ingredient:hover .delete-ingredient-btn
{
    opacity: 1;
    visibility: visible;
    border: 1px solid red;
    border-radius: 5px;
    
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ffffff;
    border-bottom-color: #E76F51;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

@media (max-width: 768px)
{
    .generate-recipe-main
    {
        padding: 20px;
        margin: auto;
    }

.get-a-recipe-button
{
    font-size: .5rem;

}
.ingredients-on-hand-container
{
    max-width: 270px;
}
.list-element
{
    font-size: .7rem;
    width: fit-content;

}
.ingredients-on-hand-h1
{
    font-size: 1rem;
}
.loader
{
    width: 30px;
    height: 30px;
}



}