.generate-recipe-main
{
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: auto;     
}

.ingredients-list
{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}

.get-a-recipe-button
{
    font-size: 1rem;
    text-decoration: none;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E76F51;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}


.get-a-recipe-button:hover
{
    transform: scale(1.05);
}
.get-a-recipe-button:active
{
    transform: scale(.95);
}

.no-ingredients-yet
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
}
.no-ingredients-yet-h1
{
    margin-bottom: 0;
}

.ingredients-on-hand-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 30px auto auto auto;
    padding: 15px 20px 20px 20px;
}
.ingredients-on-hand-h1
{
    font-size: 1.5rem;
}
.ingredientslist-section
{
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
ol
{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-inline-start: 0px;
    list-style-type: none;  
}
.specific-ingredient
{
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffffff;
    border: 2.5px solid #4d8853;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    transition: transform 0.3s ease; 

    
    
}


.specific-ingredient:hover
{
    transform: translateY(-5px);
}
.specific-ingredient .delete-ingredient-btn
{
    opacity: 0;
    visibility: hidden;
    border-style: none;
    color: red;
    font-size: 1rem;
    transition: opacity 0.5s ease, transform 0.3s ease;
    font-family: Inter, sans-serif;
    
    
}
.specific-ingredient:hover .delete-ingredient-btn
{
    opacity: 1;
    visibility: visible;
    border: 1px solid red;
    border-radius: 5px;
    
}
.ingredients-on-hand-header
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

}
.delete-all-ingredients-btn
{
    padding: 5px;
    font-size: .7rem;
    font-weight: 500;
    font-family: Inter, sans-serif;
    border-style: none;
    background: none;
    border-radius: 5px;
    transition: 
    transform .3s ease,
     background-color .3s ease,
     color 0.3s ease;
    cursor: pointer;
}
.delete-all-ingredients-btn:hover
{
    /* background: rgb(249, 244, 185); */
    color: rgb(255, 0, 0);
    transform: translateY(-2px);
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #ffffff;
    border-bottom-color: #E76F51;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-left: 10px;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 




@media (max-width: 768px)
{
    .generate-recipe-main
    {
        padding: 20px;
        margin: auto;
    }
    .no-ingredients-yet
{
    
    width: 270px;
}
.no-ingredients-yet h1
{
    font-size: 1.2rem;
}
.no-ingredients-yet p
{
    font-size: .8rem;
}
.no-ingredients-yet img
{
    width: 50px;
}

.get-a-recipe-button
{
    font-size: .5rem;

}
.ingredients-on-hand-container
{
    max-width: 270px;
}
.list-element
{
    font-size: .7rem;
    width: fit-content;

}
.ingredients-on-hand-h1
{
    font-size: 1rem;
}
.loader
{
    width: 30px;
    height: 30px;
}



}