.welcome-page
{
    display: flex;
    flex-direction: column;

  

    padding: 20px;
    margin: 20px 0px auto 0px;
    
    border-radius: 20px;
    background-color: white;
    width: 600px;
    height: 70vh;
}


.welcome-h1
{
    word-break: normal;
}
.help-you-out-text
{
    color: #E76F51;
    font-weight: 800;
}

.buttons
{
    display: block;
    
}

.signup-btn, .login-btn
{
    text-decoration: none;
    display: block;       
    
    padding: 10px;
    margin: 5px;
    border-radius: 5px;

    border-style: none;
    color: white;
    background-color: #E76F51;

    transition: transform 0.3s ease;

}
.signup-btn:hover, .login-btn:hover
{
    transform: scale(1.05);

}
.signup-btn:active, .login-btn:active
{
        transform: scale(.95);

}
@media (max-width: 768px)
{
    .welcome-page
    {
        width: 300px;
    }
}