.welcome-page-main
{
    display: flex;
}


.welcome-page
{
    display: flex;
    flex-direction: column;

  

    padding: 20px;
    margin: 20px 0px auto 0px;
    
    border-radius: 20px;
    background-color: var(--div-bg-color);
    width: 500px;
    height: fit-content;
    animation: fadeIn .7s ease-in-out, slideIn .7s ease-in-out;
}

.welcome-txt-p
{
    font-size: 1.2rem;
}
.welcome-h1
{
    word-break: normal;
    font-size: 3rem;
}
.help-you-out-text
{
    color: #E76F51;
    font-weight: 800;
}

.buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.signup-btn, .login-btn
{
    text-decoration: none;
    display: block;   
    
    font-family: Inter, sans-serif;
    font-size: 1.1rem;
    
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 100px;

    border-style: none;
    color: white;
    background-color: #E76F51;
    
    cursor: pointer;
    transition: transform 0.3s ease;

}
.signup-btn:hover, .login-btn:hover
{
    transform: scale(1.05);

}
.signup-btn:active, .login-btn:active
{
        transform: scale(.95);

}
.welcome-img-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.welcome-logo
{
    width: 500px;
    border-radius: 2rem;
    animation: float 3s ease-in-out infinite;
    
}



@keyframes float {
  0%, 100% {
     transform: translateY(0); 
    }
  50% {
     transform: translateY(-10px); 
    }
}






@media (max-width: 768px)
{
    .welcome-page
    {
        width: 350px;
        height: fit-content ;
        text-align: center;
        order: 2;
    }
    .welcome-h1
    {
        font-size: 1.5rem;
    }
    .welcome-txt-p
    {
        font-size: 0.8rem;
    }
    .buttons
    {
        display: flex;
        text-align: center;
        justify-content: center;
        
    }
  
    .signup-btn, .login-btn
    {
        font-size: 0.8rem;
    }
    .welcome-page-main
{
    flex-direction: column;
    align-items: center;
}
    .welcome-logo
    {
        margin-top: 30px;
        width: 100px;
    }
}