.add-ingredient-form
{
    display: flex;
    justify-content: center;
    gap: 12px;
    
}
main{
    margin: auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 90%;
}
.direction-text
{
   margin-bottom: 30px;
}
.question-header
{
    font-size: 2rem;
}
.add-ingredients-h3
{
    font-size: 1rem;
}
.ingredient-input
{
    border-radius: 6px;
    border: 3px solid #4d8853;
    padding: 9px 13px;
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}
.ingredient-input:focus
{
    border: 3px solid #E76F51;
    outline: none;
    box-shadow: 0 0 0 1.5px #4d8853;
}
.ingredient-input::placeholder
{
    font-size: 1.rem;
}

.add-ingredient-form > button::before
{
    content: "+";
    margin-right: 5px;
}
li
{
    margin: 10px;
}
.add-ingredients-btn
{
    font-family: Inter, sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    background-color: #E76F51;
    color: #FAFAF8;
    width: 200px;
    font-weight: 500;
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;

}
.add-ingredients-btn:hover
{
    transform: scale(1.05);
}
.add-ingredients-btn:active
{
    transform: scale(.95);
}
input
{
    font-family: Inter, sans-serif;
}
.generate-recipe-main
{
    display: flex;
    background-color: rgb(243, 243, 243);
    align-items: center;
    border-radius: 10px;
    padding: 20px;

}
.get-a-recipe-button
{
    text-decoration: none;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 50px;
    background-color: coral;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.get-a-recipe-button:hover
{
    transform: scale(1.05);
}
.get-a-recipe-button:active
{
    transform: scale(.95);
}