.add-ingredient-form
{
    display: flex;
    justify-content: center;
    gap: 12px;
    
}
main{
    padding: 30px 30px 10px;
}
.add-ingredient-form > input
{
    border-radius: 6px;
    border-style: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
}


.add-ingredient-form > button::before
{
    content: "+";
    margin-right: 5px;
}
li
{
    margin: 10px;
}
.add-ingredients-btn
{
    font-family: Inter, sans-serif;
    border-radius: 6px;
    border: none;
    background-color: #141413;
    color: #FAFAF8;
    width: 150px;
    font-weight: 500;
    padding: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;

}
.add-ingredients-btn:hover
{
    transform: scale(1.05);
}
.add-ingredients-btn:active
{
    transform: scale(.95);
}
input
{
    font-family: Inter, sans-serif;
}
.generate-recipe-main
{
    display: flex;
    background-color: rgb(243, 243, 243);
    align-items: center;
    border-radius: 10px;
    padding: 20px;

}
.get-a-recipe-button
{
    text-decoration: none;
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 50px;
    background-color: coral;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.get-a-recipe-button:hover
{
    transform: scale(1.05);
}
.get-a-recipe-button:active
{
    transform: scale(.95);
}