.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    font-size: 1.7rem;
    border-bottom: 7px solid #4d8853;
    margin-bottom: 100px;

}

.logo-link
{
    text-decoration: none;
    color: inherit;
    display: flex;
    transition: transform 0.3s ease
}
.logo-link:hover
{
    transform: scale(1.02);
}
img
{
    width: 130px;
    
}