.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: 0 4px 6px #E76F51;
    margin-bottom: 100px;
    width: 100%;
    color: #556B2F ;
    background-color: #ffffff ;
}

.logo-link
{
    text-decoration: none;
    color: inherit;
    display: flex;
    transition: transform 0.3s ease
}
.logo-link:hover
{
    transform: scale(1.02);
}
img
{
    width: 80px;
    
}

@media (max-width: 768px)
{
    .bytebistro-logo
    {
        height: 50px;
        width: 50px;
        margin: auto;
    }
    .header
    {
        margin-bottom: 50px
    }

}