.login-container
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin: auto;
    padding: 20px;

    background-color: var(--div-bg-color);
    border-radius: 10px;

    width: 600px;
}

.login-page-h1
{
    font-size: 2.5rem;
}
.login-email-inp, .login-pass-inp
{
    border: 2px solid #E76F51;
    border-radius: 15px;

    margin: 5px;
    padding:  10px;
    
    font-size: 1.2rem;

    transition: all 0.3 ease;
    
}
.login-email-inp:focus, .login-pass-inp:focus
{
        border: 2px solid #556B2F;
        outline: none;

}
.login-form-btn
{
    border: none;
    border-radius: 5px;

    background-color: var(--btn-bg-color) ; /*#556B2F, #E76F51*/

    font-family: Inter, sans-serif;
    font-size: 1.1rem;
    color: var(--btn-color);
    
    padding: 7px 20px;
    margin: 10px;

    cursor: pointer ;
    transition: all 0.3s ease;
}
.login-form-btn:hover
{
    transform: scale(1.05);
}
.login-form-btn:active
{
    transform: scale(.95);
}
.login-inputs-container
{
    display: flex;
    flex-direction: column;
}
.login-form-p a
{
    color: var(--color);
    font-size: 1rem;
}
@media (max-width: 768px) 
{
    .login-container
    {
        width: 300px;
    }
    .login-page-h1
    {
        font-size: 1.5rem;
    }
    .login-email-inp, .login-pass-inp
    {
        font-size: 0.8rem;
    }
    .login-form-btn
    {
        font-size: 0.8rem;
    }
}